@import '../../../../assets/commons/styles/profile.scss';

.no-tec{
    font-size: 18px;
    text-align: center;
    color: #6e6d74
}



ion-badge {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: #8886FF;
    z-index: 9999;
}

.btn-item{
    --ion-item-background: transparent;
    margin-top: 30px;
    --border:none;
}