

  <!-- <app-menu></app-menu> -->
 

  <ion-header [translucent]="true">
    <ion-toolbar class="toolbar-top">
      <ion-title (click)="setUsers()">Find a DuckCoder</ion-title>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
      <ion-searchbar
        [debounce]="1000"
        (ionChange)="handleChange($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content class="body-content">
    <p class="search-message" *ngIf="results.length == 0">Insert the technology you are looking for your duckCoder</p>
    <ion-slides pager="false">
      <ion-slide *ngFor="let slide of results; let i = index">
       <app-user-card [result]="slide" [index] = "i" [total] = 'results.length'></app-user-card>
      </ion-slide>
    </ion-slides>
  </ion-content>

