.body-content{
    --background:#F5F5F5;

}

ion-item, ion-list {
    --ion-item-background: transparent;
}

ion-list{
    width: 90%;
}

  ion-slides{
    height: 100%;
  }

  ion-searchbar{
    height: 60px;
  }

  .search-message{
    text-align: center;
    margin: 80px auto 0 auto;
    color: #A6A6B2;
    width: 80%;
    font-weight: bold;
    line-height: 30px;
  
  }
