.body-content{
    --background:#F5F5F5;

}

ion-item, ion-list {
    --ion-item-background: transparent;
}

ion-list{
    width: 90%;
}




  ion-slides{
    height: 100%;
  }

  ion-searchbar{
    height: 60px;
  }

