.menu-body{
    height: 100%;
  }

  ion-footer{
  margin-top: 20px;
    ion-img{
        width: 120px;
        margin: 0 auto;
    }

  }

  .menu-title{
    padding: 2.5em 0 1.5em 0;
  }

  .username{
    text-transform: capitalize;
  }



  .logout{
    margin: 40px auto;
  }
